---
import AstroForm from '@/components/AstroForm.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Homepage" description="My homepage Description">
	<h1>Astro</h1>
	<AstroForm />
</Layout>
